<div id="parent">
<div class="header">
<div style="float:left" ng-click="toggleMenu()"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></div>

SC James Style
<i ng-click="getData()" ng-show="refreshing==false" style="float:right" class="fa fa-refresh fa-3x" aria-hidden="true"></i>
<i ng-show="refreshing==true" style="float:right" class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>

<!-- <div class="league">
	

<div class="league-team-name" ng-repeat="game in data.schedule.games" style="width:{{93/data.schedule.games.length}}%" ng-click="getData(game.team_1.team_id)">
		{{game.team_1.team_name}}<br>v<br>
		{{game.team_2.team_name}}
		</div></div> -->
<div id="menu" style="display:none; clear:left">

<div class="league" style="clear:left">
	<div class="league-game" ng-repeat="game in data.schedule.games"  ng-click="getData(game.team_1.team_id); toggleMenu();">

		<div class="league-game-team">
			<div class="league-game-score">{{game.team_1.points}}</div>
			<div class="league-game-details">
				<div class="logo">
					<div class="shirt">
						<div class="shorts"></div>
						<div class="shirt-jumper"></div>
						<div class="pattern"></div>
					</div>
				</div>
				<div class="name">{{game.team_1.team_name}}</div>
				<div class="remaining">{{game.team_1.yet_to_play}} left | {{game.team_1.in_play}} in play</div>
			</div>
		</div>

		<div class="league-game-team" style="margin-top: 1px;">
			<div class="league-game-score">{{game.team_2.points}}</div>
			<div class="league-game-details">
				<div class="logo">
					<div class="shirt">
						<div class="shorts"></div>
						<div class="shirt-jumper"></div>
						<div class="pattern"></div>
					</div>
				</div>
				<div class="name">{{game.team_2.team_name}}</div>
				<div class="remaining">{{game.team_2.yet_to_play}} left | {{game.team_2.in_play}} in play</div>
			</div>
		</div>


	</div>
</div>


</div>

<table class="team-totals">
	<tr>
		<td>
			<div class="team-card">
			<div class="team-total-score">
				<div class="actual">{{getTotalLiveScore(data.myplayers)}}</div>
				<div class="projected">{{data.team.team_total_proj_points}}</div>
			</div>
				<div class="shirt" style="float:left">

					<div class="shorts"></div>
					<div class="shirt-jumper"></div>
					<div class="pattern"></div>
				</div>
				
				<div class="team-name" style="clear:left">{{data.team.name}}</div>
				<div class="team-record">{{data.team.league.wins}}-{{data.team.league.draws}}-{{data.team.league.losses}}</div>
			</div>
		</td>
		<td>
			<div class="team-card" style="text-align: right;">
				<div class="team-total-score" style="float:left">
					<div class="actual" style="text-align: left">{{getTotalLiveScore(data.opponent.player_list.field.players)}}</div>
					<div class="projected" style="text-align: left">{{data.opponent.team_total_proj_points}}</div>
				</div>
					<div class="shirt" style="float:right">

						<div class="shorts"></div>
						<div class="shirt-jumper"></div>
						<div class="pattern"></div>
					</div>
					
					<div class="team-name" style="clear:right">{{data.opponent.name}}</div>
					<div class="team-record">{{data.opponent.league.wins}}-{{data.opponent.league.draws}}-{{data.opponent.league.losses}}</div>
			</div>
		</td>
	</tr>
</table>

<table class="players-table">
	<tr>

		<!-- LEFT -->
		<td class="table-players">
			<div ng-repeat="player in data.myplayers">
			<div class="player-card " ng-class="getPlayingClass(player.played_status)">
				<div class="player-score">
					<div class="actual-score"><span ng-if="player.played_status!='pre'">{{player.livepts}}</span><span ng-if="player.played_status=='pre'">--</span></div>
					<div class="projected-score">{{player.proj_points}}</div>
				</div>
				<div class="player-name">{{player.fi}}. {{player.ln}} 
					<span ng-if="player.status=='inj'" class="player-status-inj">INJ</span>
					<span ng-if="player.status=='emerg'" class="player-status-inj">E</span>
					<span ng-if="player.status=='playing'" class="player-status-playing"><i class="fa fa-check" aria-hidden="true"></i></span>
				</div>
				
				<div class="game-info" ng-show="player.played_status=='pre'">
					<div class="game-time">{{player.match_status}}</div>
					<div class="opposition">v {{player.opp}}</div>
				</div>

				<div class="stat-info">
				<div ng-bind-html="getStatInfo(player)"></div>
				
				</div>

			</div>
		</div>
		</td>
	<!-- MIDDLE -->
		<td class="table-position">
			<div class="position-label" ng-repeat="player in data.myplayers">{{player.pos}}</div>
		</td>

	<!-- RIGHT -->
		<td class="table-players">
			<div ng-repeat="player in data.opponent.player_list.field.players">
			<div class="player-card player-card-r" ng-class="getPlayingClass(player.played_status)+'-r'">
				<div class="player-score-r">
					<div class="actual-score"><span ng-if="player.played_status!='pre'">{{player.livepts}}</span><span ng-if="player.played_status=='pre'">--</span></div>
					<div class="projected-score">{{player.proj_points}}</div>
				</div>
				<div class="player-name"><span ng-if="player.status=='inj'" class="player-status-inj">INJ</span>
					<span ng-if="player.status=='emerg'" class="player-status-inj">E</span>
					<span ng-if="player.status=='playing'" class="player-status-playing"><i class="fa fa-check" aria-hidden="true"></i></span> {{player.fi}}. {{player.ln}}</div>
				
				<div class="game-info" ng-show="player.played_status=='pre'">
					<div class="game-time">{{player.match_status}}</div>
					<div class="opposition">v {{player.opp}}</div>
				</div>

				<div class="stat-info">
					<div style="text-align: right" ng-bind-html="getStatInfo(player)"></div>
				</div>

			</div>
		</div>
		</td>
	</tr>
</table>

<div class="bench-label">
<table>
	<tr>
		<td>BENCH</td>
		<td style="text-align:right">BENCH</td>
	</tr>
</table>
</div>

<table class="players-table">
	<tr>
		<td class="table-players">
			<div ng-repeat="player in data.mybench">
			<div class="player-card " ng-class="getPlayingClass(player.played_status)">
				<div class="player-score">
					<div class="actual-score"><span ng-if="player.played_status!='pre'">{{player.livepts}}</span><span ng-if="player.played_status=='pre'">--</span></div>
					<div class="projected-score">{{player.proj_points}}</div>
				</div>
				<div class="player-name">{{player.fi}}. {{player.ln}} 
					<span ng-if="player.status=='inj'" class="player-status-inj">INJ</span>
					<span ng-if="player.status=='emerg'" class="player-status-inj">E</span>
					<span ng-if="player.status=='playing'" class="player-status-playing"><i class="fa fa-check" aria-hidden="true"></i></span>
				</div>
				
				<div class="game-info" ng-show="player.played_status=='pre'">
					<div class="game-time">{{player.match_status}}</div>
					<div class="opposition">v {{player.opp}}</div>
				</div>

				<div class="stat-info">
				<div ng-bind-html="getStatInfo(player)"></div>
				
				</div>

			</div>
		</div>
		</td>

		<td class="table-position">
			<div class="position-label" ng-repeat="player in data.mybench">BEN</div>
		</td>

		<td class="table-players">
			<div ng-repeat="player in data.opponent.player_list.bench.players">
			<div class="player-card  player-card-r" ng-class="getPlayingClass(player.played_status)+'-r'" >
				<div class="player-score-r">
					<div class="actual-score"><span ng-if="player.played_status!='pre'">{{player.livepts}}</span><span ng-if="player.played_status=='pre'">--</span></div>
					<div class="projected-score">{{player.proj_points}}</div>
				</div>
				<div class="player-name"><span ng-if="player.status=='inj'" class="player-status-inj">INJ</span>
					<span ng-if="player.status=='emerg'" class="player-status-inj">E</span>
					<span ng-if="player.status=='playing'" class="player-status-playing"><i class="fa fa-check" aria-hidden="true"></i></span> {{player.fi}}. {{player.ln}}</div>
				
				<div class="game-info" ng-show="player.played_status=='pre'">
					<div class="game-time">{{player.match_status}}</div>
					<div class="opposition">v {{player.opp}}</div>
				</div>

				<div class="stat-info">
					<div ng-bind-html="getStatInfo(player)"></div>
				</div>

			</div>
		</div>
		</td>
	</tr>
</table>






<!-- 
	<table class="team-table" style="float:left">
		<tr class="table-divider">
			<td colspan=4><div class="team-name">{{data.team_name}}</div><div class="coach-name">{{data.first_name}}</div></td>
		</tr>
		<tr ng-repeat="player in data.myplayers" >
			<td class="player-{{player.pos}}">{{player.pos}}</td>
			<td>{{player.fn}} {{player.ln}}</td>
			<td>{{player.opp}}</td>
			<td>{{player.livepts}} ({{player.proj_points}})</td>
		</tr>
		
		<tr class="table-divider">
			<td colspan=4>Bench</td>
		</tr>

		<tr ng-repeat="player in data.mybench" >
			<td class="player-{{player.pos}}">{{player.pos}}</td>
			<td>{{player.fn}} {{player.ln}}</td>
			<td>{{player.opp}}</td>
			<td>{{player.livepts}}({{player.proj_points}})</td>
		</tr>

	</table>

	<table class="team-table" style="float:right">
		<tr class="table-divider">
			<td colspan=4><div class="team-name">Placeholder</div><div class="coach-name">{{data.opponent.coach}}</div></td>
		</tr>
		<tr ng-show="data.opponent.player_list.field.players.length==0"><td colspan=4>Waiting for lockout</td></tr>
		<tr ng-repeat="player in data.opponent.player_list.field.players" >
			<td>{{player.livepts}} ({{player.proj_points}})</td>
			<td>{{player.opp}}</td>
			<td>{{player.fn}} {{player.ln}}</td>
			<td class="player-{{player.pos}}">{{player.pos}}</td>
		</tr>
		
		<tr class="table-divider">
			<td colspan=4>Bench</td>
		</tr>

		<tr ng-repeat="player in data.opponent.player_list.bench.players" >
			<td>{{player.livepts}}({{player.proj_points}})</td>
			<td>{{player.opp}}</td>
			<td>{{player.fn}} {{player.ln}}</td>
			<td class="player-{{player.pos}}">{{player.pos}}</td>
		</tr>
		<tr ng-show="data.opponent.player_list.bench.players.length==0"><td colspan=4>Waiting for lockout</td></tr>

	</table> -->
</div>