<div id="parent" style="padding:10px;">

<div>Please enter your php session ID</div><br>
<input ng-model="phpsessionid" />
<button ng-click="save()">Save</button>


<h3>Where do I find it?</h3>
<div>You need to be on your desktop. Browse to the supercoach site, log in, and look at your cookies. In chrome this is the step by step:</div>
<ol>
	<li>Press F12 to bring up the dev tools</li>
	<li>Go to the application tab</li>
	<li>Expand the Cookies menu, and select http://supercoach.heraldsun.com.au</li>
	<li>Find the record that has a name of PHPSESSID</li>
	<li>Put the value into the box above and save. This number will be 32 characters long.</li>
</ol>
</div>