.league{
	.open-close{
		text-align: center;
	}

	.league-game{
		margin-bottom: 5px;
		width: 100%;
		
		background-color: white;

		.league-game-team{
			height: 38px;
		}

		.league-game-score{
			float:right;
			font-size: 1.3em;
			padding-right: 10px;
			line-height: 38px;
		}

		.logo{
			float:left;
			margin-left: 1px;
		}

		.name{
			font-size: 1.1em;
			font-weight: bold;
			margin-left: 45px;
			line-height: 20px;
		}

		.remaining{
			margin-left: 45px;
			color: #c8c8c8;
		}


	}
}